html{
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;
    font-family: 'Roboto', sans-serif;
    background: #EBE4E4;
    
}
nav{
    width: 1440px;
    height: 246px;
    background-color: #fff;
    
}

.back{
    padding-top: 42px;
    padding-left: 42px;
    width: 69px;
    height: 69px;
    display: flex;
    float: left;
}
.logo{
    width: 602px;
    height: 182px;
    margin-left: 308px;
    padding-top: 32px;
    
}
main{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Menu{
    width: 598px;
    height: 551px;
    margin-top: 80px;
    margin-left: 421px;
    border: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    
}
h1{
    padding-left: 48px;
    padding-top: 80px;
    color: #000;
    font-family: Roboto;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.tex{
    
    padding-left: 48px;
    padding-top: 24px;
    color: #000;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
input{
    display: flex;
    flex-direction: column;
    width: 502px;
    height: 96px;
    margin-top: 72px;
    margin-left: 48px;
    border: 0;
    border-radius: 5px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
input::placeholder{
    padding-top: 32px;
    padding-left: 48px;
    color: #A9A9A9;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}
.btn{
    width: 502px;
    height: 96px;
    background: #3D8BD9;
    margin-top: 32px;
    color: #FFF; 
    padding-left: 173px;
    padding-top: 32px;
    text-align: center;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0px;
}
a{
    text-decoration: none;
}